#Project folders
depricated_files
sandbox
__pycache__
programflow.md

#Visual Studio files
*.sln
*.suo
*.pyproj

#IDEA files
.idea
.name
compiler.xml
encodings.xml
misc.xml
modules.xml
sdb2_scenario.iml
vcs.xml
workspace.xml
